counting {
  display: block;
  padding-top: 15px;

  header {
    text-align: center;
    margin-bottom: 40px;

    &:before {
      content: '';
      display: block;

      width: 50px;
      height: 50px;

      margin: 0 auto 5px;

      background-image: url(images/money-icon.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
    }

    h2 {
      font-size: 1.3em;
    }
  }
}
