counting {
  display: block;

  max-width: 600px;

  margin: 0 auto;
  padding-top: 15px;

  header {
    text-align: center;
    margin-bottom: 40px;

    &:before {
      content: '';
      display: block;

      width: 50px;
      height: 50px;

      margin: 0 auto 5px;

      background-image: url(images/money-icon.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
    }

    h2 {
      font-size: 1.3em;
    }
  }

  .counting {

    &__bills {
      border-bottom: 3px solid #333;
      margin-bottom: 5px;
    }

    &__reset {
      margin-top: 5px;
      float: left;
    }

    &__sum {
      display: block;

      width: calc(100% - 90px);
      margin-left: auto;

      font-size: 1.8em;
      font-weight: bold;
      text-align: right;
    }
  }
}
