<header>
  <h1>Conta Grana</h1>
  <h2>Conte seu dinheiro com facilidade!</h2>
</header>
<main>
  <div class="counting__bills">
    <bill ng-repeat="bill in $ctrl.bills" value="{{ bill.value }}" color="{{ bill.color }}" amount="bill.amount" on-amount-changed="$ctrl.updateAmount($index, amount)" />
  </div>
  <button ng-click="$ctrl.reset()" class="btn btn-sm btn-danger counting__reset">Limpar</button>
  <span class="counting__sum">
    R$ {{ $ctrl.sum | number:2 }}
  </span>
</main>
<footer>
  Conta Grana - GNU v3
  <small>
    Por <span class="author">Rodrigo Waltenberg</span>
  </small>
</footer>
