@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import 'app/counting/counting';
@import 'app/bill/bill';

body {
  font-family: 'Bitter', serif;
  font-size: 14px;
  background-color: #fafafa;
}
